/* Custom color theme properties */
:root {
  --f7-theme-color: #4776e6;
  --f7-theme-color-rgb: 71, 118, 230;
  --f7-theme-color-shade: #235be1;
  --f7-theme-color-tint: #6b91eb;
}

/* Invert navigation bars to fill style */
:root,
:root.dark,
:root .dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 71;
  --g: 118;
  --b: 230;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.dark .navbar-large-transparent,
.dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */
.alert {
    width: auto;
    padding: 20px;
    color: whitesmoke;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.title-text-color{
    color: var(--f7-block-title-text-color);
}

/**
* Imgs 
*/
.img-circle {
    width: 100%;
    aspect-ratio : 1 / 1;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

.profile-img {
    border: 3px solid whitesmoke;
    background-size: cover;
    background-position: center;
    
}

.img-50px {
    width: 50px;
}
/**
* Font colors
*/
.text-success{
    color: #229941;
}

.text-primary{
    color: #0f4783;
}

.text-info{
    color: #126396;
}

.text-danger {
    color: #b44141 !important;
}

.text-warning {
    color: #d29935 !important;
}

/**
* Backgrounds
*/
.bg-success{
    background-color: #229941;
}

.bg-primary{
    background-color: #0f4783;
}

.bg-info{
    background-color: #126396;
}

.bg-danger {
    background-color: #b44141 !important;
}

.bg-warning {
    background-color: #d29935 !important;
}