.password-input input[type='text'],
.password-input input[type='password'] {
  padding-right: 32px;
}
.password-input-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  opacity: 0.55;
}

.password-input-toggle svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
